@import url(../css/normalize.css);

:root {
  --bs-form-invalid-color: #ffff99;
  --bs-form-valid-color: #bfb0ff;
  --bs-form-valid-border-color: #8400ff;
  --text-color: #fac75f;
}
/* .......... CONFIGURACIONES GENERALES ........ */

/* ..... COLOR DE FONDO ..... */
header {
  background: linear-gradient(#46134f, #8a236d, #30044b);
}
.block-one {
  background-color: #671770df;
}
.block-two {
  background-color: #510539;
}
.block-three {
  background: #671770;
}
.block-four {
  background-color: #671770;
}
.block-five {
  background-color: #6c27a1;
}
footer {
  background-color: #510539;
  color: var(--text-color);
}

/* ..... CONFIGURACION DE LAS IMAGENES ..... */
.logo-sada {
  width: 25%;
  padding: 1.2rem;
  margin: 0 auto;
}

.image-testimonials {
  margin: 0 auto;
  display: block;
}

/* ..... CONFIGURACION DE TEXTOS ..... */
.text-container,
.box-block-two,
.paragraph-course-details,
.card-text,
.text-reembolso,
.title-testimonials,
.title-name,
.text-testimonials {
  color: var(--bs-form-invalid-color);
}
.title-aprenderas,
.list-box,
#title-card-caroline,
.card-title,
.li-descuentos,
.beneficios {
  color: var(--text-color);
}
/* .text-testimonials {
  font-size: 0.7rem;
} */

/* .......... BOTONES LLAMADO A LA ACCION ........... */
.cta-1,
.cta-2 {
  background-color: var(--bs-form-invalid-color);
  /* height: 30px;
  padding: 0.2em;*/
  color: #19041d;
}
.cta-1:hover {
  background-color: #b473d3;
  color: var(--bs-form-invalid-color);
}
.cta-2:hover {
  background-color: #b473d3;
  color: var(--bs-form-invalid-color);
}

/* .......... MODIFICACIONES ESTILOS BOOTSTRAP ........... */

/* ..... seccion preguntas frecuentes ..... */
.accordion-item {
  background-color: #6c27a100;
  color: var(--text-color);
}
.accordion-button {
  background-color: #b473d300;
  color: var(--bs-form-invalid-color);
}
.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: url(../img/Recurso-logo-sada.svg);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button:not(.collapsed) {
  color: var(--bs-form-invalid-color);
  background-color: #ff000000;
  box-shadow: #fcbebe00;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../img/Recurso-logo-sada.svg);
  transform: rotate(360deg);
}
.accordion-item {
  color: var(--text-color);
  border: var(--bs-accordion-border-width) solid rgba(255, 0, 0, 0);
}

.container-card-caroline {
  background-color: #641569;
}

/* iconos del carousel */
.carousel-indicators {
  /* transform: translateY(100%); */
  width: 20%;
}
.carousel-indicators [data-bs-target] {
  background-color: rgb(243, 98, 224);
}

/* ..... FORMULARIO ..... */
.background-form {
  background-color: #510539;
}

#btn-form {
  background-color: #a501b4;
  color: #fcff4a;
}
#btn-form:hover {
  background-color: #d32ee2;
  color: #fcff4a;
}
.form-label {
  color: var(--bs-form-invalid-color);
}

/* -------- MEDIA QUERIES -------- */

/* ----- MEDIA QUERIES 360px ----- */
@media (min-width: 320px) {
  .logo-sada {
    width: 30%;
  }
  .wrapper-img-illustration-2 {
    width: 70%;
  }
  /* textos-header */
  .text-container {
    text-align: center;
  }
  .img-illustration-3 {
    width: 70%;
  }
  .caroline-image {
    width: 70%;
  }
  .image-testimonials {
    width: 50%;
  }
}

/* ----- MEDIA QUERIES 576px ----- */
@media (min-width: 576px) {
  .logo-sada {
    width: 15%;
  }
  .title-aprenderas {
    transform: translateY(90%);
  }
  .text-content-box {
    transform: translateY(10%);
  }
  .wrapper-img-illustration-2 {
    width: 36%;
    transform: translateY(-11%);
  }
  .container-card-caroline {
    margin: 0 auto;
    width: 50%;
  }
  .image-testimonials {
    width: 40%;
  }
}

/* ----- MEDIA QUERIES 992px ----- */
@media (min-width: 992px) {
  .logo-sada {
    width: 18%;
  }
  .title-hero {
    font-size: 3rem;
  }

  .h4 {
    font-size: 2.3rem;
    transform: translate(-25%, 28%);
  }
  .paragraph-necesitas {
    font-size: 1.6rem;
    margin-top: 10%;
  }

  .paragraph-curso-online {
    font-size: 1.4rem;
    margin-top: 4%;
  }
  .paragraph-inscribete {
    font-size: 1.5rem;
    margin-top: 3%;
  }
  .wrapper-img-illustration-2 {
    transform: translateY(5%);
  }
  .cta-1,
  .cta-2 {
    font-size: 1.8rem;
  }
  .cta-1 {
    margin-top: 3%;
  }
  .text-content-box {
    width: 90%;
    order: 1;
  }
  .title-aprenderas {
    font-size: 2.1rem;
    transform: translateY(-90%);
  }
  .h5 {
    font-size: 1.7rem;
    transform: translateY(-9%);
  }
  .wrapper-faq {
    width: 80%;
    margin: 0 auto;
  }
  .title-faq {
    font-size: 2.1rem;
    transform: translateY(10%);
  }
  .accordion-button,
  .accordion {
    font-size: 1.5rem;
    margin-top: 2%;
  }
  .cta-2 {
    margin-top: 2%;
  }
  /* ..... configuracion card-caroline ..... */
  .wrapper-caroline {
    margin: 0 auto;
    width: 100%;
    margin-top: 2%;
  }
}

/* ----- MEDIA QUERIES 1200px ----- */
@media (min-width: 1200px) {
  .logo-sada{
    width: 12%;
  }
  .text-container {
    text-align: start;
  }
  .logo-sada {
    width: 15%;
  }
  .title-hero {
    font-size: 2.8rem;
  }

  .h4 {
    font-size: 2.3rem;
    transform: translate(-25%, 28%);
  }
  .paragraph-necesitas {
    font-size: 1.6rem;
    margin-top: 5%;
  }

  .paragraph-curso-online {
    font-size: 1.4rem;
    margin-top: 4%;
  }
  .paragraph-inscribete {
    font-size: 1.3rem;
    margin-top: 4%;
    line-height: 2;
  }
  .wrapper-img-illustration-2 {
    transform: translateY(5%);
  }
  .cta-1,
  .cta-2 {
    font-size: 1.8rem;
  }
  .cta-1 {
    margin-top: 3%;
  }
  .text-content-box {
    width: 70%;
    order: 1;
  }
  .title-aprenderas {
    font-size: 2.1rem;
    transform: translateY(-90%);
  }
  .h5 {
    font-size: 1.9rem;
    transform: translateY(-9%);
  }
  .wrapper-faq {
    width: 80%;

  }
  .title-faq {
    font-size: 1.9rem;
    transform: translateY(10%);
  }
  .accordion-button,
  .accordion {
    font-size: 1.8rem;
    margin-top: 2%;
  }
  .cta-2 {
    margin-top: 2%;
  }
  /* ..... configuracion card-caroline ..... */
  .wrapper-caroline {
    margin: 0 auto;
    width: 100%;
    margin-top: 2%;
  }
  .caroline-image {
    width: 70%;
  }
  #title-card-caroline {
    font-size: 2.2rem;
  }
  .card-title {
    font-size: 1.9rem;
  }
  .card-text {
    font-size: 1.7rem;
  }

  .img-illustration-3 {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
  .background-form {
    font-size: 1.7rem;
  }
  .form-control {
    height: 3.8rem;
  }
  ::placeholder {
    font-size: 1.3rem;
  }
  #btn-form {
    font-size: 2rem;
  }
  .form-check-label,
  .invalid-feedback {
    font-size: 1.3rem;
  }
  .text-reembolso {
    font-size: 1.3rem;
  }
}

/* ----- MEDIA QUERIES 1400px ----- */
@media (min-width: 1400px) {
  .logo-sada{
    width: 12%;
  }
  .img-illustration-1{
    width: 50%;
  }
  .background-form {
    font-size: 1.7rem;
  }
  .form-control {
    height: 3.8rem;
  }
  ::placeholder {
    font-size: 1.3rem;
  }
  .paragraph-course-details,
  .descuentos,
  .beneficios {
    font-size: 1.6rem;
  }
  .title-testimonials {
    font-size: 1.6rem;
  }
}
