@import url(../css/normalize.css);

:root {
  --bs-form-invalid-color: #ffff99;
  --bs-form-valid-color: #bfb0ff;
  --bs-form-valid-border-color: #8400ff;
  --text-color: #fac75f;
}
/* .......... CONFIGURACIONES GENERALES ........ */

/* ..... COLOR DE FONDO ..... */
header {
  background: linear-gradient(#46134f, #8a236d, #30044b);
}
.block-one {
  background-color: #671770df;
}
.block-two {
  background-color: #510539;
}
.block-three {
  background: #671770;
}
.block-four {
  background-color: #671770;
}
.block-five {
  background-color: #6c27a1;
}
footer {
  background-color: #510539;
  height: 40vh;
  color: var(--text-color);
}

/* ..... CONFIGURACION DE LAS IMAGENES ..... */
.logo-sada {
  width: 10%;
  padding: 1.2rem;
}
.img-illustration-1 {
  max-width: 100%;
}
.img-illustration-2 {
  max-width: 80%;
}
.caroline-image {
  width: 70%;
}

.image-testimonials {
  margin: 0 auto;
  display: block;
}

/* ..... CONFIGURACION DE TEXTOS ..... */
.text-container,
.box-block-two,
.paragraph-course-details,
.card-text,
.text-reembolso,
.title-testimonials,
.title-name,
.text-testimonials {
  color: var(--bs-form-invalid-color);
}
.title-aprenderas,
.list-box,
.title-card-caroline,
.card-title,
.li-descuentos,
.beneficios {
  color: var(--text-color);
}
.text-testimonials {
  font-size: 0.7rem;
}

/* .......... BOTONES LLAMADO A LA ACCION ........... */
.cta-1 {
  background-color: var(--bs-form-invalid-color);
  /* height: 30px;
  padding: 0.2em;*/
  color: #19041d;
}
.cta-1:hover {
  background-color: #b473d3;
  color: var(--bs-form-invalid-color);
}

/* .......... MODIFICACIONES ESTILOS BOOTSTRAP ........... */

/* ..... seccion preguntas frecuentes ..... */
.accordion-item {
  background-color: #6c27a100;
  color: var(--text-color);
}
.accordion-button {
  background-color: #b473d300;
  color: var(--bs-form-invalid-color);
}
.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: url(../img/Recurso-logo-sada.svg);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button:not(.collapsed) {
  color: var(--bs-form-invalid-color);
  background-color: #ff000000;
  box-shadow: #fcbebe00;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../img/Recurso-logo-sada.svg);
  transform: rotate(360deg);
}
.accordion-item {
  color: var(--text-color);
  border: var(--bs-accordion-border-width) solid rgba(255, 0, 0, 0);
}

.container-card-caroline {
  background-color: #641569;
}

/* iconos del carousel */
.carousel-indicators {
  transform: translateY(100%);
  width: 20%;
}
.carousel-indicators [data-bs-target] {
  background-color: rgb(243, 98, 224);
}

/* ..... FORMULARIO ..... */
.background-form {
  background-color: #510539;
  height: 80vh;
}
.img-form {
  width: 20%;
}
#btn-form {
  background-color: #a501b4;
  width: 9rem;
  font-size: 0.75rem;
  color: #fcff4a;
}
#btn-form:hover {
  background-color: #d32ee2;
  width: 9rem;
  font-size: 0.75rem;
  color: #fcff4a;
}
.form-label {
  color: var(--bs-form-invalid-color);
}

/* -------- MEDIA QUERIES -------- */

@media (min-width: 360px) {
  .logo-sada {
    width: 40%;
  }
  .img-illustration-1 {
    width: 60%;
    margin: 0 auto;
    display: block;
    transform: translateY(-10%);
  }
  .text-container {
    text-align: center;
  }
  .img-illustration-2 {
    width: 50%;
    margin: 0 auto;
    display: block;
    transform: translateY(-15%);
  }
  .title-aprenderas {
    transform: translateY(90%);
    font-size: 1.5rem;
  }
  .container-card-caroline {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
  .title-card-caroline {
    font-size: 1.8rem;
  }
  .caroline-image {
    width: 70%;
  }
  .title-faq {
    font-size: 1.9rem;
  }
  .accordion-button,
  .accordion {
    font-size: 1.1rem;
  }
  .cta-1 {
    margin: 0 auto;
    display: block;
  }
}

/* -------------------------------- */
@media (min-width: 576px) {
  .logo-sada {
    width: 20%;
  }
  .img-illustration-1 {
    width: 60%;
    margin: 0 auto;
    display: block;
    transform: translateY(-10%);
  }
  .text-container {
    text-align: center;
  }
  .img-illustration-2 {
    width: 50%;
    margin: 0 auto;
    display: block;
    transform: translateY(-15%);
  }
  .title-aprenderas {
    transform: translateY(90%);
    font-size: 1.5rem;
  }
  .container-card-caroline {
    width: 70%;
    margin: 0 auto;
    display: block;
  }
  .title-card-caroline {
    font-size: 1.8rem;
  }
  .caroline-image {
    width: 70%;
  }
  .title-faq {
    font-size: 1.9rem;
  }
  .accordion-button,
  .accordion {
    font-size: 1.1rem;
  }
}

/* -------------------------------- */
@media (min-width: 992px) {
  .logo-sada {
    width: 12%;
  }
  .img-illustration-1 {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
  .text-container {
    text-align: start;
  }
  .paragraph-necesitas {
    transform: translateY(40%);
    font-size: 1.3rem;
  }
  .paragraph-curso-online {
    font-size: 1.2rem;
    transform: translateY(40%);
  }
  .paragraph-inscribete {
    font-size: 1.1rem;
    transform: translateY(30%);
  }
  .cta-1 {
    transform: translateY(50%);
  }
  .title-aprenderas {
    transform: translateY(90%);
    font-size: 1.5rem;
  }
  .img-illustration-2 {
    width: 60%;
    margin: 0 auto;
    display: block;
    order: 1;
    transform: translateY(-15%);
  }
  .list-box {
    order: 2;
  }
  .container-card-caroline {
    width: 80%;
    transform: translateX(10%);
  }
  .title-card-caroline {
    font-size: 1.8rem;
  }
  .caroline-image {
    width: 70%;
  }
  .title-faq {
    font-size: 1.9rem;
  }
  .accordion-button,
  .accordion {
    font-size: 1.1rem;
  }
  .cta-1 {
    margin: 0 auto;
    display: block;
  }

  .img-illustration-3 {
    width: 60%;
    margin: 0 auto;
    display: block;
  }
  .background-form {
    height: 100vh;
  }
  #btn-form {
    width: 15rem;
    font-size: 1.4rem;
    transform: translateY(-60%);
  }
  .wrapper-text-paragraph-course-details {
    margin: 0 auto;
  }
  .paragraph-course-details {
    width: 120%;
    font-size: 1.2rem;
    text-align: center;
    transform: translateX(-10%);
  }
  .title-testimonials {
    font-size: 1.3rem;
  }
  .testimonials {
    transform: translateY(-10%);
  }
  .image-testimonials {
    width: 30%;
  }
  .text-testimonials {
    width: 60%;
    margin: 0 auto;
    font-size: 1rem;
  }
  .carousel-indicators {
    transform: translateY(180%);
  }
  .wrapper-icon {
    transform: translateY(60%);
  }
  i {
    font-size: 1.6rem;
    cursor: pointer;
  }
  .copy-sada {
    text-align: center;
    font-size: 1rem;
    transform: translateY(160%);
  }
}

/* -------------------------------- */
@media (max-width: 1200px) {
  .logo-sada {
    width: 12%;
  }
  .img-illustration-1 {
    width: 80%;
    margin: 0 auto;
    display: block;
    transform: translate(-7%, 10%);
  }
  .text-container {
    text-align: start;
  }
  .title-hero {
    font-size: 2.3rem;
  }
  .paragraph-necesitas {
    transform: translateY(20%);
    font-size: 1.7rem;
  }
  .paragraph-curso-online {
    font-size: 1.5rem;
    transform: translateY(40%);
  }
  .paragraph-inscribete {
    font-size: 1.6rem;
    transform: translateY(30%);
  }
  .cta-1 {
    transform: translateY(50%);
  }
  .title-aprenderas {
    transform: translate(-20%, 90%);
    font-size: 2.3rem;
  }
  .img-illustration-2 {
    width: 60%;
    margin: 0 auto;
    display: block;
    order: 1;
    transform: translate(-30%, 2%);
  }
  .text-content-box {
    width: 50%;
    transform: translateX(-37%);
  }
  .list-box {
    width: 130%;
    font-size: 1.7rem;
    order: 2;
    transform: translateX(-6%);
  }
  .row {
    justify-content: center;
  }

  .title-card-caroline {
    font-size: 1.8rem;
  }
  .caroline-image {
    width: 70%;
  }
  .wrapper-faq {
    margin: 0 auto;
    display: block;
    width: 90%;
  }
  .title-faq {
    font-size: 1.9rem;
  }
  .accordion-button,
  .accordion {
    font-size: 1.9rem;
  }

  .img-illustration-3 {
    width: 60%;
    margin: 0 auto;
    display: block;
  }
  .background-form {
    height: 100vh;
  }
  #btn-form {
    width: 15rem;
    font-size: 1.4rem;
    transform: translateY(-60%);
  }
  .wrapper-text-paragraph-course-details {
    margin: 0 auto;
  }
  .paragraph-course-details {
    width: 120%;
    font-size: 1.2rem;
    text-align: center;
    transform: translateX(-10%);
  }
  .title-testimonials {
    font-size: 1.3rem;
  }
  .testimonials {
    transform: translateY(-10%);
  }
  .image-testimonials {
    width: 30%;
  }
  .text-testimonials {
    width: 60%;
    margin: 0 auto;
    font-size: 1rem;
  }
  .carousel-indicators {
    transform: translateY(180%);
  }
  .wrapper-icon {
    transform: translateY(60%);
  }
  i {
    font-size: 1.6rem;
    cursor: pointer;
  }
  .copy-sada {
    text-align: center;
    font-size: 1rem;
    transform: translateY(160%);
  }
}

/* -------------------------------- */
@media (max-width: 1400px) {
}
